# Ignore build outputs
bin/
obj/
publish/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log
logs/

# Visual Studio Code
.vscode/
*.code-workspace

# Local settings
local.settings.json

# Dependency directories
packages/
.vs/
.idea/

# Rider
.idea/
*.sln.iml

# DotNet specific
project.lock.json
project.fragment.lock.json
artifacts/

# Azure Functions
funcpack/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
publish.zip